
<!DOCTYPE html>
<html lang="bg">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Стихописец</title>
  <meta name="description" content="Малки стихчета" />
  <meta name="KEYWORDS" content="стихове, текстове, песни" />
  <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <meta property="fb:admins" content="692687820" />
  <link rel="stylesheet" type="text/css" href="http://stihove.igrii.com/css/style.css" />
  <script type="text/javascript" src="http://stihove.igrii.com/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="http://stihove.igrii.com/js/game.js"></script>
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-115818-76', 'igrii.com');
  ga('send', 'pageview');
</script>
  <div class="wrapper">
<h1><a href="http://stihove.igrii.com/">Стихописец</a></h1>    <table id="struct">
      <tr>
        <td id="main">
          <div id="content" class="panel">
{{ yield }}
          </div>
        </td>
        <td id="sidebar">
          <div id="menu" class="panel">
            <ul>  
              <li><a href="/">Начало</a></li>
              <li><a href="/stih">Всички творби</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
    <div id="footer" class="ar panel">
      <a href="http://internetigri.com/">Форум</a> |
			Eдин проект на <a href="http://avtobiografia.com">AquilaX</a>
    </div>
  </div>
  <img src="http://topsitecounter.appspot.com/t" alt="Top Site Counter" width="1" height="1" />
</body>
</html>

